#foxyJava {
    font-size: 50;
    color: red;
    margin-top: 220;
}
 #jayden {
     color: olive;
     font-size: 100;
 }
Page { background-color: rebeccapurple}
/* 
#foxyJava
{ background-color: blueviolet} */